GEMAESS DEN ERHALTENEN INSTRUKTIONEN NEHMEN WIR FOLGENDE BUCHUNG VOR :
CHF {units|PL} 3.15 % NOTES CHF 2012 - 16.12.2016(1) VALOREN-NR 19,372,428
LOAN PART ISIN {isin|P|N}
VTB CAPITAL SA
TITEL, DIE WIR IHREM DEPOT ENTNEHMEN IM DEPOT BEI : SIX SIS AG.
{transType|PL|P} E.O./51068/AIM
BRUTTOBETRAG CHF 10 588,00
EIDG. STEMPEL AUSLAND CHF {tt1|SL|N}
NETTOBETRAG CHF 10 542,10
WELCHEN BETRAG WIR DEM KONTO GUTSCHREIBEN CHF R 8888.88.88 MUSTER HANS {cac|SL} {ta|SL|N}
VALUTA : {datetime|P|N}
[END]
templatePurpose=Rückkaufangebot Yellowtrade
transType=REDUCE|RUECKKAUFANGEBOT
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>
